BIOS 512

Homework 4

Bella Williams

Question 1

In [1]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.2     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.2     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [4]:
table_a <- tibble(
  SKU = c(102345, 104567, 108912, 109876, 112233),
  Fruit = c("Apple", "Orange", "Mango", "Blueberry", "Watermelon"),
  Color = c("Red", "Orange", "Yellow", "Blue", "Green"),
  Price = c(1.20, 1.40, 1.70, 3.50, 4.40),
  In_Stock = c("Yes", "Yes", "No", "Yes", "No")
)

In [3]:
table_b <- tibble(
  SKU = c(102345, 105432, 106789, 104567, 107654),
  Fruit = c("Apple", "Banana", "Grape", "Orange", "Pear"),
  Color = c("Red", "Yellow", "Purple", "Orange", "Green"),
  Sale_Price = c(1.00, 0.50, 2.00, 1.20, 1.10),
  Number_in_Stock = c(50, 120, 0, 75, 0)
)

A) Left join

In [5]:
left_join(table_a, table_b, by = "SKU")

  SKU    Fruit.x    Color.x Price In_Stock Fruit.y Color.y Sale_Price
1 102345 Apple      Red     1.2   Yes      Apple   Red     1.0
2 104567 Orange     Orange  1.4   Yes      Orange  Orange  1.2
3 108912 Mango      Yellow  1.7   No       NA      NA       NA
4 109876 Blueberry  Blue    3.5   Yes      NA      NA       NA
5 112233 Watermelon Green   4.4   No       NA      NA       NA
  Number_in_Stock
1 50
2 75
3 NA
4 NA
5 NA

b) Right join

In [6]:
right_join(table_a, table_b, by = "SKU")

  SKU    Fruit.x Color.x Price In_Stock Fruit.y Color.y Sale_Price
1 102345 Apple   Red     1.2   Yes      Apple   Red     1.0
2 104567 Orange  Orange  1.4   Yes      Orange  Orange  1.2
3 105432 NA      NA       NA   NA       Banana  Yellow  0.5
4 106789 NA      NA       NA   NA       Grape   Purple  2.0
5 107654 NA      NA       NA   NA       Pear    Green   1.1
  Number_in_Stock
1  50
2  75
3 120
4   0
5   0

c) Inner join

In [7]:
inner_join(table_a, table_b, by = "SKU")

  SKU    Fruit.x Color.x Price In_Stock Fruit.y Color.y Sale_Price
1 102345 Apple   Red     1.2   Yes      Apple   Red     1.0
2 104567 Orange  Orange  1.4   Yes      Orange  Orange  1.2
  Number_in_Stock
1 50
2 75

d) Full join

In [8]:
full_join(table_a, table_b, by = "SKU")

  SKU    Fruit.x    Color.x Price In_Stock Fruit.y Color.y Sale_Price
1 102345 Apple      Red     1.2   Yes      Apple   Red     1.0
2 104567 Orange     Orange  1.4   Yes      Orange  Orange  1.2
3 108912 Mango      Yellow  1.7   No       NA      NA       NA
4 109876 Blueberry  Blue    3.5   Yes      NA      NA       NA
5 112233 Watermelon Green   4.4   No       NA      NA       NA
6 105432 NA         NA       NA   NA       Banana  Yellow  0.5
7 106789 NA         NA       NA   NA       Grape   Purple  2.0
8 107654 NA         NA       NA   NA       Pear    Green   1.1
  Number_in_Stock
1  50
2  75
3  NA
4  NA
5  NA
6 120
7   0
8   0

e) Semi join

In [9]:
semi_join(table_a, table_b, by = "SKU")

  SKU    Fruit  Color  Price In_Stock
1 102345 Apple  Red    1.2   Yes
2 104567 Orange Orange 1.4   Yes

f) Anti join

In [10]:
anti_join(table_a, table_b, by = "SKU")

  SKU    Fruit      Color  Price In_Stock
1 108912 Mango      Yellow 1.7   No
2 109876 Blueberry  Blue   3.5   Yes
3 112233 Watermelon Green  4.4   No

Question 2

In [ ]:
A)

In [12]:
demographics <- read_csv("demographics.csv")
full <- read_csv("full.csv")
hospitals <- read_csv("hospitals.csv")
patient_names <- read_csv("patient_names.csv")
treatment_info <- read_csv("treatment_info.csv")

Rows: 35 Columns: 5
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): patient_id, gender, race, ethnicity
dbl (1): age

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 35 Columns: 16
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (12): patient_id, name, gender, race, ethnicity, condition, treatment, ...
dbl   (2): age, patient_zipcode
date  (2): admission_date, release_date

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 5 Columns: 6
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (5): hospital_id, hospital_name, hospital_address, hospital_city, hospit...
dbl (1): hospital_zip_code

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 35 Columns: 4
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): patient_id, name, hospital_id, condition_id

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 5 Columns: 4
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): condition_id, condition, treatment, department

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

B)

In [13]:
glimpse(demographics)
glimpse(full)
glimpse(hospitals)
glimpse(patient_names)
glimpse(treatment_info)

Rows: 35
Columns: 5
$ patient_id <chr> "P001", "P002", "P003", "P004", "P005", "P006", "P007", "P0…
$ age        <dbl> 51, 73, 49, 6, 64, 38, 36, 22, 20, 85, 61, 23, 54, 22, 29, …
$ gender     <chr> "Male", "Male", NA, "Other", "Other", "Other", "Female", "O…
$ race       <chr> "Hispanic", "Hispanic", "White", "White", "White", "Hispani…
$ ethnicity  <chr> "Non-Hispanic", "Non-Hispanic", "Non-Hispanic", "Non-Hispan…
Rows: 35
Columns: 16
$ patient_id      <chr> "P001", "P002", "P003", "P004", "P005", "P006", "P007"…
$ name            <chr> "Mary Hicks", "Matthew Christensen", "Lisa Graham", "G…
$ age             <dbl> 51, 73, 49, 6, 64, 38, 36, 22, 20, 85, 61, 23, 54, 22,…
$ gender          <chr> "Male", "Male", NA, "Other", "Other", "Other", "Female…
$ race            <chr> "Hispanic", "Hispanic", "White", "White", "White", "Hi…
$ ethnicity       <chr> "Non-Hispanic", "Non-Hispanic", "Non-Hispanic", "Non-H…
$ condition       <chr> "Cancer", "Heart Disease", "Asthma", "Heart Disease", …
$ treatment       <chr> "Chemotherapy", "Bypass Surgery", "Inhaler Therapy", "…
$ department      <chr> "Oncology", "Cardiology", "Pediatrics", "Cardiology", …
$ hospital        <chr> "H1", "H5", "H5", "H3", "H1", "H3", "H5", "H3", "H1", …
$ admission_date  <date> 2024-09-30, 2025-06-09, 2025-09-08, 2025-09-02, 2025-…
$ release_date    <date> 2025-04-24, 2025-09-04, 2025-09-08, 2025-09-06, 2025-…
$ patient_address <chr> NA, "762 Hatfield Lights Apt. 887", "25592 Foley Forge…
$ patient_city    <chr> NA, "North Thomasbury", "New Tiffany", "Underwoodburgh…
$ patient_state   <chr> NA, "WI", "IN", "NV", "HI", "MS", "NV", "WA", "DE", "N…
$ patient_zipcode <dbl> NA, 96149, 33286, 9762, 99546, 87095, 4548, 29439, 357…
Rows: 5
Columns: 6
$ hospital_id       <chr> "H1", "H2", "H3", "H4", "H5"
$ hospital_name     <chr> "Greenwood Medical Center", "Lakeside Hospital", "Su…
$ hospital_address  <chr> "123 Maple St", "456 Elm St", "789 Oak Ave", "321 Pi…
$ hospital_city     <chr> "Springfield", "Madison", "Los Angeles", "Denver", "…
$ hospital_state    <chr> "IL", "WI", "CA", "CO", "CO"
$ hospital_zip_code <dbl> 62701, 53703, 90012, 80203, 80302
Rows: 35
Columns: 4
$ patient_id   <chr> "P001", "P002", "P003", "P004", "P005", "P006", "P007", "…
$ name         <chr> "Mary Hicks", "Matthew Christensen", "Lisa Graham", "Greg…
$ hospital_id  <chr> "H1", "H5", "H5", "H3", "H1", "H3", "H5", "H3", "H1", "H5…
$ condition_id <chr> "C", "HD", "A", "HD", "HD", "A", "A", "S", "A", "F", "A",…
Rows: 5
Columns: 4
$ condition_id <chr> "HD", "S", "C", "F", "A"
$ condition    <chr> "Heart Disease", "Stroke", "Cancer", "Fracture", "Asthma"
$ treatment    <chr> "Bypass Surgery", "Rehabilitation Therapy", "Chemotherapy…
$ department   <chr> "Cardiology", "Neurology", "Oncology", "Orthopedics", "Pe…

Question 3

In [14]:
full_long <- full %>%
  pivot_longer(
    cols = -c(patient_id, name), 
    names_to = "variable", 
    values_to = "value", 
    values_transform = list(value = as.character)
  )

obs_per_patient <- full_long %>%
  group_by(patient_id, name) %>% 
  tally(name = "n_observations") %>% 
  arrange(desc(n_observations))

obs_per_patient

   patient_id name                n_observations
1  P001       Mary Hicks          14
2  P002       Matthew Christensen 14
3  P003       Lisa Graham         14
4  P004       Greg Brown          14
5  P005       Joshua Baker        14
6  P006       Wendy Richardson    14
7  P007       April Sanchez       14
8  P008       Melinda Moody       14
9  P009       Dylan Lopez DVM     14
10 P010       Maria Bruce         14
11 P011       Kristine Lewis      14
12 P012       Jessica Ibarra      14
13 P013       Matthew Rogers      14
14 P014       Joseph Thompson     14
15 P015       Holly Contreras     14
16 P016       Heather Chandler    14
17 P017       John Brown          14
18 P018       Nathan Chase        14
19 P019       Casey Norman        14
20 P020       Nicholas Smith MD   14
21 P021       Mary Cobb           14
22 P022       Thomas Logan        14
23 P023       Anthony Anderson    14
24 P024       Matthew Jones       14
25 P025       Kathryn Harrison    14
26 P026       Jose Young          14
27 P027       Samuel Herrera      14
28 P028       Wanda Simmons       14
29 P029       Whitney Fuller      14
30 P030       John Rodriguez      14
31 P031       John Ibarra         14
32 P032       Erica Foley         14
33 P033       Spencer Wells       14
34 P034       Holly Mclaughlin    14
35 P035       Ashley Johnson      14

Question 4

In [15]:
full_chr <- full %>%
  select(patient_id, name, where(is.character)) %>%
  pivot_longer(
    cols = -c(patient_id, name),
    names_to = "variable_chr",
    values_to = "value_chr"
  ) %>%
  group_by(patient_id, name) %>%
  mutate(row = row_number()) %>%
  ungroup()

full_num <- full %>%
  select(patient_id, name, where(is.numeric)) %>%
  pivot_longer(
    cols = -c(patient_id, name),
    names_to = "variable_num",
    values_to = "value_num"
  ) %>%
  group_by(patient_id, name) %>%
  mutate(row = row_number()) %>%
  ungroup()

full_date <- full %>%
  select(patient_id, name, where(lubridate::is.Date)) %>%
  pivot_longer(
    cols = -c(patient_id, name),
    names_to = "variable_date",
    values_to = "value_date"
  ) %>%
  group_by(patient_id, name) %>%
  mutate(row = row_number()) %>%
  ungroup()

full_long_types <- full_chr %>%
  full_join(full_num, by = c("patient_id", "name", "row")) %>%
  full_join(full_date, by = c("patient_id", "name", "row"))

obs_type_per_patient <- full_long_types %>%
  group_by(patient_id, name) %>%
  summarise(
    n_chr  = sum(!is.na(value_chr)),
    n_num  = sum(!is.na(value_num)),
    n_date = sum(!is.na(value_date)),
    .groups = "drop"
  ) %>%
  arrange(desc(n_chr))

obs_type_per_patient

   patient_id name                n_chr n_num n_date
1  P002       Matthew Christensen 10    2     2
2  P004       Greg Brown          10    2     2
3  P005       Joshua Baker        10    2     2
4  P006       Wendy Richardson    10    2     2
5  P007       April Sanchez       10    2     2
6  P008       Melinda Moody       10    2     2
7  P009       Dylan Lopez DVM     10    2     2
8  P010       Maria Bruce         10    2     2
9  P011       Kristine Lewis      10    2     2
10 P012       Jessica Ibarra      10    2     2
11 P013       Matthew Rogers      10    2     2
12 P014       Joseph Thompson     10    2     2
13 P015       Holly Contreras     10    2     2
14 P017       John Brown          10    2     2
15 P018       Nathan Chase        10    2     2
16 P020       Nicholas Smith MD   10    2     2
17 P021       Mary Cobb           10    2     2
18 P022       Thomas Logan        10    2     2
19 P023       Anthony Anderson    10    2     2
20 P024       Matthew Jones       10    2     2
21 P025       Kathryn Harrison    10    2     2
22 P026       Jose Young          10    2     2
23 P027       Samuel Herrera      10    2     2
24 P028       Wanda Simmons       10    2     2
25 P029       Whitney Fuller      10    2     2
26 P030       John Rodriguez      10    1     2
27 P031       John Ibarra         10    2     2
28 P032       Erica Foley         10    2     2
29 P033       Spencer Wells       10    2     2
30 P034       Holly Mclaughlin    10    2     2
31 P035       Ashley Johnson      10    2     2
32 P003       Lisa Graham          9    2     2
33 P016       Heather Chandler     8    2     2
34 P001       Mary Hicks           7    1     2
35 P019       Casey Norman         7    1     2

Question 5

In [16]:
patients_with_hospital <- patient_names %>%
  left_join(hospitals %>% select(hospital_id, hospital_name), 
            by = "hospital_id") %>%
  select(patient_id, name, hospital_name)

patients_with_hospital

   patient_id name                hospital_name
1  P001       Mary Hicks          Greenwood Medical Center
2  P002       Matthew Christensen Mountainview Clinic
3  P003       Lisa Graham         Mountainview Clinic
4  P004       Greg Brown          Sunrise Health
5  P005       Joshua Baker        Greenwood Medical Center
6  P006       Wendy Richardson    Sunrise Health
7  P007       April Sanchez       Mountainview Clinic
8  P008       Melinda Moody       Sunrise Health
9  P009       Dylan Lopez DVM     Greenwood Medical Center
10 P010       Maria Bruce         Mountainview Clinic
11 P011       Kristine Lewis      Valley General Hospital
12 P012       Jessica Ibarra      Lakeside Hospital
13 P013       Matthew Rogers      Valley General Hospital
14 P014       Joseph Thompson     Sunrise Health
15 P015       Holly Contreras     Greenwood Medical Center
16 P016       Heather Chandler    Greenwood Medical Center
17 P017       John Brown          Greenwood Medical Center
18 P018       Nathan Chase        Lakeside Hospital
19 P019       Casey Norman        Greenwood Medical Center
20 P020       Nicholas Smith MD   Greenwood Medical Center
21 P021       Mary Cobb           Mountainview Clinic
22 P022       Thomas Logan        Valley General Hospital
23 P023       Anthony Anderson    Valley General Hospital
24 P024       Matthew Jones       Sunrise Health
25 P025       Kathryn Harrison    Mountainview Clinic
26 P026       Jose Young          Mountainview Clinic
27 P027       Samuel Herrera      Lakeside Hospital
28 P028       Wanda Simmons       Mountainview Clinic
29 P029       Whitney Fuller      Sunrise Health
30 P030       John Rodriguez      Valley General Hospital
31 P031       John Ibarra         Greenwood Medical Center
32 P032       Erica Foley         Greenwood Medical Center
33 P033       Spencer Wells       Mountainview Clinic
34 P034       Holly Mclaughlin    Sunrise Health
35 P035       Ashley Johnson      Greenwood Medical Center

Question 6

In [18]:
 patient_full_info <- patient_names %>%
     left_join(demographics %>% select(patient_id, age, gender), by = "patient_id") %>%
     left_join(treatment_info %>% select(condition_id, condition, treatment), by = "condition_id") %>%
     select(patient_id, name, age, gender, condition, treatment)
 
 patient_full_info

   patient_id name                age gender condition
1  P001       Mary Hicks          51  Male   Cancer
2  P002       Matthew Christensen 73  Male   Heart Disease
3  P003       Lisa Graham         49  NA     Asthma
4  P004       Greg Brown           6  Other  Heart Disease
5  P005       Joshua Baker        64  Other  Heart Disease
6  P006       Wendy Richardson    38  Other  Asthma
7  P007       April Sanchez       36  Female Asthma
8  P008       Melinda Moody       22  Other  Stroke
9  P009       Dylan Lopez DVM     20  Male   Asthma
10 P010       Maria Bruce         85  Other  Fracture
11 P011       Kristine Lewis      61  Female Asthma
12 P012       Jessica Ibarra      23  Other  Fracture
13 P013       Matthew Rogers      54  Female Fracture
14 P014       Joseph Thompson     22  Other  Fracture
15 P015       Holly Contreras     29  Male   Heart Disease
16 P016       Heather Chandler    74  Female Asthma
17 P017       John Brown          81  Female Asthma
18 P018       Nathan Chase         7  Other  Heart Disease
19 P019       Casey Norman        28  Male   Asthma
20 P020       Nicholas Smith MD   67  Male   Cancer
21 P021       Mary Cobb           87  Female Stroke
22 P022       Thomas Logan         1  Male   Cancer
23 P023       Anthony Anderson    70  Male   Fracture
24 P024       Matthew Jones       75  Male   Asthma
25 P025       Kathryn Harrison    51  Male   Fracture
26 P026       Jose Young          76  Other  Cancer
27 P027       Samuel Herrera      10  Female Cancer
28 P028       Wanda Simmons        8  Female Fracture
29 P029       Whitney Fuller       2  Male   Cancer
30 P030       John Rodriguez      NA  Male   Cancer
31 P031       John Ibarra         75  Female Cancer
32 P032       Erica Foley         47  Male   Cancer
33 P033       Spencer Wells       66  Male   Stroke
34 P034       Holly Mclaughlin    56  Other  Heart Disease
35 P035       Ashley Johnson      22  Other  Heart Disease
   treatment
1  Chemotherapy
2  Bypass Surgery
3  Inhaler Therapy
4  Bypass Surgery
5  Bypass Surgery
6  Inhaler Therapy
7  Inhaler Therapy
8  Rehabilitation Therapy
9  Inhaler Therapy
10 Surgery
11 Inhaler Therapy
12 Surgery
13 Surgery
14 Surgery
15 Bypass Surgery
16 Inhaler Therapy
17 Inhaler Therapy
18 Bypass Surgery
19 Inhaler Therapy
20 Chemotherapy
21 Rehabilitation Therapy
22 Chemotherapy
23 Surgery
24 Inhaler Therapy
25 Surgery
26 Chemotherapy
27 Chemotherapy
28 Surgery
29 Chemotherapy
30 Chemotherapy
31 Chemotherapy
32 Chemotherapy
33 Rehabilitation Therapy
34 Bypass Surgery
35 Bypass Surgery

Question 7

In [23]:
install.packages("skimr")

library(skimr)
library(dplyr)
library(purrr)
library(readr)

df <- read_csv(
  "https://raw.githubusercontent.com/Vincent-Toups/bios512/refs/heads/main/nuforc_workshop/nuforc_sightings.csv",
  show_col_types = FALSE
)

 low_unique_cols <- c("shape", "has_image", "explanation")
 unique_values_list <- map(low_unique_cols, function(col_name) {
     df %>%
         pull(!!sym(col_name)) %>%
         unique() %>%
         sort()
 })
names(unique_values_list) <- low_unique_cols
unique_values_list

Installing package into ‘/srv/rlibs’
(as ‘lib’ is unspecified)

$shape
 [1] "changing"  "Changing"  "Chevron"   "cigar"     "Cigar"     "circle"
 [7] "Circle"    "Cone"      "Cross"     "Cube"      "cylinder"  "Cylinder"
[13] "diamond"   "Diamond"   "Disk"      "egg"       "Egg"       "fireball"
[19] "Fireball"  "flash"     "Flash"     "Formation" "light"     "Light"
[25] "Orb"       "other"     "Other"     "oval"      "Oval"      "rectangle"
[31] "Rectangle" "sphere"    "Sphere"    "Star"      "Teardrop"  "triangle"
[37] "Triangle"  "unknown"   "Unknown"

$has_image
[1] "Y"

$explanation
 [1] "Aircraft"              "Aircraft?"             "Animal?"
 [4] "Aurora Borealis?"      "Aurora?"               "Ball Lightning?"
 [7] "Balloon"               "Balloon?"              "Balloons"
[10] "Balloons?"             "Bat?"                  "Bird"
[13] "Bird?"                 "Birds"                 "birds?"
[16] "Birds?"                "Blimp"                 "Blimp?"
[19] "Boat?"                 "Boats"                 "Boats?"
[22] "Camera Anomaly"        "Camera Anomaly?"       "Chinese Lantern"
[25] "Chinese Lantern?"      "Chinese Lanterns"      "Chinese Lanterns?"
[28] "Cloud"                 "Cloud?"                "Comet"
[31] "Contrail"              "Contrail?"             "Debris?"
[34] "Dream?"                "Drone"                 "Drone?"
[37] "Drones?"               "Fireworks"             "Fireworks?"
[40] "Flare?"                "Flares"                "Flares?"
[43] "Green fishing lights"  "Headlights?"           "Helicopter?"
[46] "Hoax"                  "Hoax?"                 "Insect"
[49] "Insect web?"           "Insect?"               "Insects?"
[52] "ISS"                   "ISS?"                  "Kite"
[55] "Kite?"                 "Laser"                 "Laser?"
[58] "Lightning"             "Lightning?"            "Meteor"
[61] "Meteor?"               "Moon"                  "Moon?"
[64] "Planet/Star"           "Planet/Star?"          "Reflection"
[67] "Reflection?"           "Rocket"                "Rocket?"
[70] "Satellite"             "Satellite?"            "Satellites"
[73] "Satellites?"           "Searchlight"           "Searchlight?"
[76] "shock cone???"         "Smoke"                 "Smoke ring"
[79] "Space Junk"            "Space Junk?"           "Spiderweb"
[82] "Starlink"              "Starlink (Racetrack)"  "Starlink (Racetrack)?"
[85] "Starlink-Racetrack"    "Starlink?"             "Sundog?"
[88] "Truck"                 "Unexplained"

Question 8

In [20]:
 state_map <- tibble(
     state_full = state.name,   
     state_abbr = state.abb     
 )
 
 us_state_counts <- df %>%
     filter(country == "USA") %>%                
     distinct(id, .keep_all = TRUE) %>%          
     mutate(state_clean = case_when(
         state %in% state.abb ~ state,                                      
         state %in% state.name ~ state_map$state_abbr[match(state, state_map$state_full)], 
         TRUE ~ NA_character_                                              
     )) %>%
     filter(!is.na(state_clean)) %>%                                        
     group_by(state_clean) %>%
     tally(name = "num_sightings") %>%
     filter(num_sightings > 1) %>%                                         
     arrange(desc(num_sightings))
 
 
 ggplot(us_state_counts, aes(x = reorder(state_clean, -num_sightings), y = num_sightings)) +
     geom_bar(stat = "identity", fill = "steelblue") +
     labs(title = "Number of UFO Sightings by US State",
          x = "State",
          y = "Number of Sightings") +
     theme_minimal() +
     theme(axis.text.x = element_text(angle = 90, hjust = 1, vjust = 0.5))

![Caption for the picture.](https://hub.gesis.mybinder.org/user/bellareawilliam-nment1_williams-mlo6hixv/rstudio/files/ufo_sightings.png)

ERROR: Error in parse(text = x, srcfile = src): <text>:29:2: unexpected '['
28:
29: ![
     ^